<div class="container mt-5">
    <div class="row">
@for(category of categories; track category.name){
    <div class="container">
        <div class="category-name">{{category.name}}</div>
        <div class="row">
            
      <div class="carousel">
            @for (item of category.products; track item.id) {
                <div class="col">
                    <app-card [product]="item"></app-card>
               
            </div>
                }
           </div>
        </div>
    </div>
}
</div>
</div>